*{
    font-family: 'Roboto', sans-serif;
}


.large-10.medium-10.small-12.columns>h1{
    width: 100%;
    text-align: center;
}

.fa-edit{
    color: #009079;
}

.fa-trash{
    color: coral;
}

.callout h1 {
    font-size: 2rem;
}
.operateri {
    text-align: center;
    margin-right: 15px;
    
}

.operateri:hover { 
    background-color: #bffad4;
  }

a.git:hover { 
    color: black;
    background-color: #00907929;
  }



@media screen and (max-width: 400px){
    .izbornikStavke{
        display: block;
        width: 100%;
        text-align: center;
    }
}

.top-bar, .top-bar ul {
    background-color: #009079;
    text-decoration-color: black;
}

a {
    color:black;
}


tbody, tfoot{
    background-color: #00907929;
}
.pagination a:hover,
.pagination button:hover {
    background: #00907929;
}

[type='text'],[type='password'],[type='email'],textarea{
    background-color: #00907929; 
}

.button{
    background-color: #009079;
    color:black;
}

.button:hover{
    background-color: #009079;
    color: black;
}